@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
.icon {
  position: relative;
}
.badge-position {
  position: absolute;
  top: -8px;
}

.table-width {
  width: 245px;
}
.table-font {
  font-size: 10px;
}
.navbar {
  .navbar-brand {
    .logo-font {
      font-family: 'Caveat', cursive;
      font-size: 30px;
      padding: 0;
    }
  }
}
