body{
  font-size: 0.85rem;
}
.bg-cover {
  @include bg-cover;
}
.email {
  position: relative;
  padding-left: 40px;
  @include tablet {
    padding-left: 0px;
  }
  .email-icon {
    position: absolute;
    top: 5px;
    left: 40px;
    @include tablet {
      position: absolute;
      top: 5px;
      left: 10px;
    }
  }
  .email-input {
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
    background: none;
    padding-left: 40px;
  }
}

.customize-height {
  height: 300px;
  z-index: 1;
  @include tablet {
    height: 200px;
  }
}

.bg-fixed {
  background-attachment: fixed;
}

.info {
  .arrow {
    display: inline;
  }
  .arrow-hover {
    display: none;
  }
  a:hover {
    i.arrow-hover {
      display: inline;
    }
    i.arrow {
      display: none;
    }
  }
}

.card {
  .selectedImg {
    height: 200px;
    @include tablet {
      height: 150px;
    }
  }
  @include card;
  &:hover {
    & .cart {
      display: block;
      position:absolute;
      bottom: 108px;
      right: 10px;
    }
  }
  .cart {
    display: none;
    @include mobile{
      display: block;
      position:absolute;
      bottom: 108px;
      right: 10px;
    }
    .cart-size{
      font-size: 20px;
    }
     
  }
  .card-info {
    @include card-info;
  }
  .card-height {
    height: 250px;
    @include tablet {
      height: 175px;
    }
  }
  .card-spacing{
    letter-spacing: 0.5rem;
  }
}

$custom-gutter-width: 10px; // 將欄距改成 20px
.custom-gutters {
  &.container {
    padding-left: $custom-gutter-width / 2;
    padding-right: $custom-gutter-width / 2;
  }
  .row {
    margin-left: -($custom-gutter-width / 2);
    margin-right: -($custom-gutter-width / 2);
  }
  .col-md-3 {
    padding-left: $custom-gutter-width / 2;
    padding-right: $custom-gutter-width / 2;
  }
  .col-6 {
    padding-left: $custom-gutter-width / 2;
    padding-right: $custom-gutter-width / 2;
  }
}
