.card {
  overflow: hidden;
  &:hover {
    box-shadow: 5px 5px 7px rgba(153, 148, 148, 0.4);
  }
  .card-image {
    transform: scale(1, 1);
    transition: all 1s ease-out;
    &:hover {
      transform: scale(1.15, 1.15);
    }
  }

  .cursor {
    cursor: pointer;
  }
}

.bg-cover {
  @include bg-cover;
}
